#nodeJsLogo {
    width: 20vw;
    height: 20vh;
    margin-left: 1vw;
}

.title {
    position: absolute;
    top: 2vh;
    left: 45vw;
    font-size: 40px;
    margin: 0;
}

body {
    background-color: #292828;
}

header {
    background-color: #292828;
    border-bottom: 1px solid #fff;
}

.subTitle {
    position: absolute;
    background-color: #39bf24;
    top: 5vh;
    width: 53vw;
    color: #fff;
    left: 25vw;
    padding: 0;
}

#subTitleLabel {
    margin-left: 15vw;
}

.label {
    margin-top: 3px;
}

nav a div {
    float: left;
    width: 30vw;
    margin-left: 2.3vw;
    margin-right: 0.5vw;
    background-color: #39bf24;
    text-align: center;
    color: #fff;
    height: 5vh;
    font-size: 20px;
    padding: 1vh 0vh 1vh 0vh;
}

body {
    padding: 0;
    margin: 0;
}

section {
    clear: both;
    min-height: 66.5vh;
    width: 100%;
    margin-top: 0;
}

footer {
    background-color: #39bf24;
    color: #fff;
    text-align: center;
    padding: 10px;
}